* {
	margin: 0px;
	padding: 0px;
}
html, body
{
	height: 100%;
}

body {
	font-family: "PT Sans Narrow";

}

@font-face {
	font-family: "PT Sans Narrow";
	src: local("PT Sans Narrow"),
	url("../fonts/ptsansnarrow-webfont.eot"), /* IE9 */
	url("../fonts/ptsansnarrow-webfont.eot?") format("eot"), /* IE6-IE8 */
	url("../fonts/ptsansnarrow-webfont.woff2") format("woff2"),
	url("../fonts/ptsansnarrow-webfont.woff") format("woff"),
	url("../fonts/ptsansnarrow-webfont.ttf") format("truetype"), /* Safari, Android, iOS */
	url("../fonts/ptsansnarrow-webfont.svg") format("svg"); /* iOS */
}


.header {
	width: 100%;
	height: 44px;
}

.header_content {
	margin: auto;
	width: 88%;
	height: 44px;
	border: 0px solid #ddd;
	display: block;
}

.logo {
	padding-top: 5px;
	padding-left: 1px;
	height: 36px;
	float: left;

}

.phone {
	display: block;
	float: right;
	color: #338BE6;
	font-weight: bold;
	font-size: 21px;
	padding-top: 8px;
}

.menu {
	position: relative;
	border: 0px solid #ddd;
	width: 100%;
	height: 34px;
	font-weight: 900;
	font-size: 18px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

.main_picture {
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: absolute;
}

.menu_block {
	border: 0px solid black;
	display: block;
	width: 88%;
	height: 34px;
	margin: auto;
}

.menu ul {
	border: 0px solid black;
	display: inline-block;
	text-align: justify;
	width: 100%;
	list-style: none;
}

.menu li {
	width: 14%;
	padding-top: 5px;
	white-space: nowrap;
	border: 0px solid black;
	height: 28px;
	display: -moz-inline-stack; /*for Firefox 2*/
	display: inline-block;
	zoom: 1;
	*display: inline;

}

.menu li a {
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
}

.border_li {
	height: 14px;
	padding-bottom: 7px;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.border_li_2 {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.ie_navbar {
	display: none;
}

.border_content {width: 88%;
	height: 560px;
margin: auto;
position: relative;
border: 1px solid red;}

.box_descriotion_village_main_page{position: relative;
width: 40%;
	min-height: 150px;
	min-width: 400px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}
.border_descriotion_village_main_page{padding: 15px 15px 25px 15px;}

.title_descriotion_village_main_page{font-size: 40px;
	font-weight: bold;}

.descriotion_village_main_page {font-size: 28px;
	line-height: 1em;}

.align_box {width: 100%;
height: 60%;
border: 1px solid black;
position: relative;}